{% extends 'base.html' %}
{% load static %}

{% load filter_tags %}

{% block title %}Blog{% endblock title %}

{% block body %}

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="heading-page header-text">
      <section class="page-heading">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="text-content">
                <h4>Recent Posts</h4>
                <h2>Our Recent Blogs</h2>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
    <!-- Banner Ends Here -->


    <section class="blog-posts grid-system">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <div class="all-blog-posts">
              <div class="row">

                {% for post in posts reversed %}
                <div class="col-lg-6">
                  <div class="blog-post">
                    <div class="blog-thumb" style="height:400px;">
                      <a href="/post-details/{{post.slug}}">
                      <img src="{{post.title_picture.url}}" alt="" style="width:100%;height:100%;object-fit:cover;">
                      </a>
                    </div>
                    <div class="down-content">
                      <span>{{post.catagory}}</span>
                      <a href="/post-details/{{post.slug}}"><h4>{{post.title}}</h4></a>
                      <ul class="post-info">
                        <li><a href="#">{{post.user_name}}</a></li>
                        <li><a href="#">{{post.date}}</a></li>
                      </ul>
                      <p>{{post.short_description}}.</p><br>
                      <div class="post-options">
                        <div class="row">
                          <div class="col-6">
                            <ul class="post-tags">
    
                              {% with post.tags|split:"," as tags %}
                                {% for i in tags %}
                                  <li><i class="fa fa-tags" style="color:#f48840"></i></li>
                                  <li><a href="/tags?tag_id={{i}}">{{i}}</a></li>
                                {% endfor %}
                              {% endwith %}
    
                            </ul>
                          </div>
                          
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                {% endfor %}

              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="sidebar">
              <div class="row">
                <div class="col-lg-12">
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item recent-posts">
                    <div class="sidebar-heading">
                      <h2>Recent Posts</h2>
                    </div>
                    <div class="content">
                      <ul>

                        {% for post in posts_object %}
                        <li><a href="/post-details/{{post.slug}}">
                          <h5>{{post.title}}</h5>
                          <span>{{post.date}}</span>
                        </a></li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="col-lg-12">
                  <div class="sidebar-item categories">
                    <div class="sidebar-heading">
                      <h2>Categories</h2>
                    </div>
                    <div class="content">
                      <ul>

                        {% for cat in catagory %}
                        <li><a href="/catagory?catagory_id={{cat}}">- {{cat}}</a></li>
                        {% endfor %}

                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    
{% endblock body %}
